body {
  text-align: center;
  background-color: #DCDFE0;
}

#level-title {
  font-family: 'verdana, sans-serif', cursive;
  font-size: 3.5rem;
  margin:  5%;
  color: #4C53FD;
}

.container {
  display: block;
  width: 25%;
  margin: auto;
}

.btn {
  margin: 5px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 4%;
}

.btn#red {
  background-color: red;
}

.btn#green {
  background-color: green;
}

.btn#blue {
  background-color: blue;
}

.btn#yellow {
  background-color: yellow;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
