body {
  text-align: center;
  background-color: #DCDFE0;
  font-family: 'calibri, arial, sans-serif', cursive;
  color: #4C53FD;
}

#level-title {
  font-size: 3rem;
  margin:  5%;
}

#score-title {
  font-size: 2rem;
}

.container {
  display: inline-grid;
  grid-template-columns: 210px 210px;
  grid-template-rows: 210px 210px;
  column-gap: 1em;
  row-gap: 1em;
}

.btn {
  align-self: center;
  justify-self: center;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 4%;
}

.btn#red {
  background-color: red;
}

.btn#green {
  background-color: green;
}

.btn#blue {
  background-color: blue;
}

.btn#yellow {
  background-color: yellow;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

/* JS controlled class  */
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* For mobile phones */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vw 40vw;
    column-gap: 1em;
    row-gap: 1em;
  }

  .btn {
    height: 100%;
    width: 100%;
  }
}